.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.invisible-textfield {
  font-size: 40px;
  font-weight: bold;
  width: 90%;
  background: bottom;
}

@media only screen and (max-width: 767px){
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
  }
}

@media only screen and (min-width: 992px){
  #desktop {
    display: flex;
  }
  
  #mobile {
    display: none;
  }
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}